{% extends "base.html" %} {% block title %}Home{% endblock %}

<!--BLOCK OF CSS-->
{% block relative_css %}
    <link rel="stylesheet" href="static\home.css">
{% endblock %}

{% block content %}

<!--PARENT CONTAINER-->
<div class="parent_cont_d">
    </div class="row1_d">
        <p class="navlbl">Dashboard</p>
        <div class="navitem">Gave </div>
        <p class="navlbl">Event Log Sesstions</p>
        <div class="navitem">View all sesstions</div>
        <p class="navlbl">Video Stream</p>
        <div class="navitem">Display video stream of selected rooms</div>
    </div>
</div>

{% endblock %}




    